<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Educator Dashboard</title>
    <style type="text/css">
    </style>
</head>
<body ng-app="safeApp" ng-controller="controller">
    <script type="text/javascript" src="util/util.js"></script>
    <script type="text/javascript" src="lib/angular-1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.4.4/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="controllers/HeaderController.js"></script>
    <script type="text/javascript" src="controllers/EducatorDashboardController.js"></script>
    <script type="text/javascript">
        var app = angular.module('safeApp', ['ngMessages']);
        var ctl = app.controller('controller', EducatorDashboardController);
        ctl.$inject = ['$scope', '$http', '$location'];
        var headerController = app.controller('headerController', HeaderController);
        headerController.$inject = ['$scope', '$http', '$location'];
    </script>
    <div class="container">
        <div ng-include="'common/header.html'"></div>
        <div class="page-header">
            Educator Dashboard
        </div>
        <div ng-repeat="tenure in educator.Tenures | filter: TenureFilter | orderBy: getSortPriority">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span ng-show="isApplication(tenure)">
                        Application Clearances for {{tenure.Organization.Name}}
                    </span>
                    <span ng-show="isCurrentTenure(tenure)">
                        Current Clearances for {{tenure.Organization.Name}}
                    </span>
                </div>
                <div class="panel-body">
                    <table width="100%" class="table">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Document</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th>Date Completed</th>
                                <th ng-show="isCurrentTenure(tenure)">
                                    Next Renewal
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="document in tenure.ApplicableDocuments | orderBy: 'Name'">
                                <td>
                                    <button type="button" class="btn btn-block btn-success" ng-show="document.Status == 'MISSING' && !document.Definition.IsUpload" ng-click="navigateToFormFill(document)">
                                        <span class="glyphicon glyphicon-star"></span> Create
                                    </button>
                                    <button type="button" class="btn btn-block btn-success" ng-show="document.Status == 'MISSING' && document.Definition.IsUpload" ng-click="$window.document.path = '/app/protected/UploadForm.html?DocumentInstanceID={{document.DocumentInstanceID}}'">
                                        <span class="glyphicon glyphicon-paperclip"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-block btn-primary" ng-show="document.Status != 'MISSING'" ng-click="$window.document.path = '/app/protected/DownloadForm.html?DocumentInstanceID={{document.DocumentInstanceID}}'">
                                        <span class="glyphicon glyphicon-save"></span> Download
                                    </button>
                                </td>
                                <td>{{document.Name}}</td>
                                <td>
                                    <span class="glyphicon glyphicon-ban-circle text-danger" ng-show="document.Status == 'MISSING'"></span>
                                    <span class="glyphicon glyphicon-star text-info" ng-show="document.Status == 'COMPLETED BY APPLICANT'"></span>
                                    <span class="glyphicon glyphicon-envelope text-success" ng-show="document.Status == 'EMAILED TO FORMER EMPLOYER'"></span>
                                    <span class="glyphicon glyphicon-hourglass text-primary" ng-show="document.Status == 'AWAITING RESPONSE'"></span>
                                    <span class="glyphicon glyphicon-ok text-success" ng-show="document.Status == 'COMPLETE'"></span>
                                    <span class="glyphicon glyphicon-warning-sign text-warning" ng-show="document.Status == 'EXPIRED'"></span>
                                    {{document.Status}}
                                </td>
                                <td>{{formatDate(document.DocumentDate)}}</td>
                                <td>{{formatDate(document.CompletedDateTime)}}</td>
                                <td ng-show="isCurrentTenure(tenure)">
                                    next
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-include="'common/footer.html'"></div>
    </div>
</body>
</html>