<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Educator Dashboard</title>
    <style type="text/css">
    </style>
</head>
<body ng-app="safeApp" ng-controller="controller">
    <script type="text/javascript" src="util/util.js"></script>
    <script type="text/javascript" src="lib/angular-1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.4.4/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="controllers/HeaderController.js"></script>
    <script type="text/javascript" src="controllers/EducatorDashboardController.js"></script>
    <script type="text/javascript">
        var app = angular.module('safeApp', ['ngMessages']);
        var ctl = app.controller('controller', EducatorDashboardController);
        ctl.$inject = ['$scope', '$http', '$location'];
        var headerController = app.controller('headerController', HeaderController);
        headerController.$inject = ['$scope', '$http', '$location'];
    </script>
    <div class="container">
        <div ng-include="'common/header.html'"></div>
        <div class="page-header">
            Educator Dashboard
        </div>
        <div ng-repeat="tenure in educator.Tenures | filter: TenureFilter | orderBy: getSortPriority">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span ng-show="isApplication(tenure)">
                        Application Clearances for {{tenure.Organization.Name}}
                    </span>
                    <span ng-show="isCurrentTenure(tenure)">
                        Current Clearances for {{tenure.Organization.Name}}
                    </span>
                </div>
                <div class="panel-body">
                    <table width="100%" class="table">
                        <thead>
                            <tr>
                                <th>Document</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th>Date Completed</th>
                                <th ng-show="isCurrentTenure(tenure)">
                                    Next Renewal
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="document in tenure.ApplicableDocuments">
                                <td>{{document.Name}}</td>
                                <td>{{document.Status}}</td>
                                <td>{{formatDate(document.DocumentDate)}}</td>
                                <td>{{formatDate(document.CompletedDateTime)}}</td>
                                <td ng-show="isCurrentTenure(tenure)">
                                    next
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div ng-include="'common/footer.html'"></div>
    </div>
</body>
</html>