<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Educator Signup</title>
</head>
<body ng-app="safeApp" ng-controller="controller">
    <script type="text/javascript" src="util/util.js"></script>
    <script type="text/javascript" src="lib/angular-1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.4.4/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="controllers/HeaderController.js"></script>
    <script type="text/javascript" src="controllers/EducatorSignupController.js"></script>
    <script type="text/javascript">
        var app = angular.module('safeApp', ['ngMessages']);
        var ctl = app.controller('controller', EducatorSignupController);
        ctl.$inject = ['$scope', '$http', '$location'];
        var headerController = app.controller('headerController', HeaderController);
        headerController.$inject = ['$scope', '$http', '$location'];
    </script>
    <div class="container">
        <div ng-include="'common/header.html'"></div>
        <div class="page-header">
            Create Educator Account
        </div>
        <form action="/user/signup/Educator" name="SignupForm" ng-submit="controller.submit(SignupForm.$valid)" method="post" class="form-horizontal" role="form">
            <!-- educator -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Personal Information</span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Title">Title</label>
                            <div class="col-md-8">
                                <select name="Title" required ng-model="Title" class="form-control">
                                    <option></option>
                                    <option>Dr.</option>
                                    <option>Mr.</option>
                                    <option>Ms.</option>
                                    <option>Mrs.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="FirstName">First Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="FirstName" ng-model="FirstName" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="MiddleName">Middle Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="MiddleName" ng-model="MiddleName" />
                            </div>
                        </div>
                    </div><div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="LastName">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="LastName" ng-model="LastName" required />
                            </div>
                        </div>
                    </div><div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Suffix">Suffix</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Suffix" ng-model="Suffix" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Suffix">Former Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="FormerName" ng-model="FormerName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="TelephoneNumber">Phone Number</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="TelephoneNumber" ng-model="TelephoneNumber" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="DateOfBirth">Date of Birth</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" name="DateOfBirth" ng-model="DateOfBirth" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="Last4">Last 4 Digits of SSN</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Last4" ng-model="Last4" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Last4">PPID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="PPID" ng-model="PPID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="Address1">Address 1</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Address1" ng-model="Address1" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Address2">Address 2</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Address2" ng-model="Address2" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="City">City</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="City" ng-model="City" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="State">State</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="State" ng-model="State" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="State">Zip Code</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="ZipCode" ng-model="ZipCode" required />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- user -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Login Information</span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="username">Email Address</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" name="EmailAddress" ng-model="emailAddress" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="password">Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="Password" ng-model="password" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="password">Re-enter Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="Password2" ng-model="password2" required compare-to="controller.password" />
                            </div>
                            <div ng-messages="SignupForm.Password2.$error" class="error-message" role="alert">
                                <div ng-message="compare-to">Passwords don't match</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button class="btn btn-primary btn-lg shrink-sm" type="submit">
                    Submit and Proceed to the Next Step <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </form>
        <div ng-include="'common/footer.html'"></div>
    </div>
</body>
</html>