<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Educator Signup</title>
</head>
<body ng-app="safeApp" ng-controller="controller">
    <script type="text/javascript" src="util/util.js"></script>
    <script type="text/javascript" src="lib/angular-1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-1.4.4/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="controllers/HeaderController.js"></script>
    <script type="text/javascript" src="controllers/EducatorSignupController.js"></script>
    <script type="text/javascript">
        var app = angular.module('safeApp', ['ngMessages']);
        var ctl = app.controller('controller', EducatorSignupController);
        ctl.$inject = ['$scope', '$http', '$location'];
        var headerController = app.controller('headerController', HeaderController);
        headerController.$inject = ['$scope', '$http', '$location'];
    </script>
    <script type="text/javascript" src="util/angular-directives.js"></script>
    <div class="container">
        <div ng-include="'common/header.html'"></div>
        <div class="page-header">
            <span class="h2">
                Create Educator Account
            </span>
        </div>
        <form action="/user/signup/Educator/" name="SignupForm" ng-submit="controller.submit(SignupForm.$valid)" method="post" class="form-horizontal" role="form">
            <!-- educator -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Personal Information</span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="Title">Title</label>
                            <div class="col-md-8">
                                <select name="Title" ng-model="educator.Title" class="form-control" ng-required="true">
                                    <option></option>
                                    <option>Dr.</option>
                                    <option>Mr.</option>
                                    <option>Ms.</option>
                                    <option>Mrs.</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="FirstName">First Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="FirstName" ng-model="educator.FirstName" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="MiddleName">Middle Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="MiddleName" ng-model="educator.MiddleName" />
                            </div>
                        </div>
                    </div><div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="LastName">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="LastName" ng-model="educator.LastName" ng-required="true" />
                            </div>
                        </div>
                    </div><div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Suffix">Suffix</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Suffix" ng-model="educator.Suffix" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Suffix">Former Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="FormerName" ng-model="educator.FormerName" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="TelephoneNumber">Phone Number</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="TelephoneNumber" ng-model="educator.TelephoneNumber" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="DateOfBirth">Date of Birth</label>
                            <div class="col-md-8">
                                <input type="date" class="form-control" name="DateOfBirth" ng-model="educator.DateOfBirth" ng-required="true" parse-date />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="Last4">Last 4 Digits of SSN</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Last4" ng-model="educator.Last4" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Last4">PPID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="PPID" ng-model="educator.PPID" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="Address1">Address 1</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Address1" ng-model="educator.Address1" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Address2">Address 2</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="Address2" ng-model="educator.Address2" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="City">City</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="City" ng-model="educator.City" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="State">State</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="State" ng-model="educator.State" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="State">Zip Code</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="ZipCode" ng-model="educator.ZipCode" ng-required="true" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- tenure -->
            <div class="panel panel-default" ng-show="organization">
                <div class="panel-heading">
                    <span ng-show="IsApplicant">
                        Application to {{organization.Name}}
                    </span>
                    <span ng-hide="IsApplicant">
                        Tenure at {{organization.Name}}
                    </span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="PositionsHeld">{{IsApplicant ? 'Position Applied For' : 'Position(s) Held'}}</label>
                            <div class="col-md-8">
                                <input type="text" name="PositionsHeld" class="form-control" ng-model="tenure.PositionsHeld" ng-required="organization" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" ng-hide="IsApplicant">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="StartDate">Start Date</label>
                            <div class="col-md-8">
                                <input type="date" name="StartDate" class="form-control" ng-model="tenure.StartDate" ng-required="organization && !IsApplicant" parse-date />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4" ng-show="IsApplicant">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="ApplicationDate">Application Date</label>
                            <div class="col-md-8">
                                <input type="date" name="ApplicationDate" class="form-control" ng-model="tenure.ApplicationDate" ng-required="organization && IsApplicant" parse-date />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- user -->
            <div class="panel panel-default" ng-hide="user">
                <div class="panel-heading">
                    <span>Login Information</span>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="username">Email Address</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" name="EmailAddress" ng-model="user.EmailAddress" ng-required="!user" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="password">Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="Password" ng-model="password" ng-required="!user" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group required">
                            <label class="control-label col-md-4" for="password">Re-enter Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" name="Password2" ng-model="password2" ng-required="!user" compare-to="controller.password" />
                            </div>
                            <div ng-messages="SignupForm.Password2.$error" class="error-message" role="alert">
                                <div ng-message="compare-to">Passwords don't match</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- submit buttons -->
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                    <div class="btn-toolbar form-group">
                        <button class="btn btn-primary btn-block btn-lg shrink-sm" type="submit" ng-hide="IsApplicant">
                            Save
                        </button>
                        <button class="btn btn-primary btn-block btn-lg shrink-sm" type="submit" ng-click="setSkipHistory(false)" ng-show="IsApplicant">
                            Save and Enter Prior Work History <span class="glyphicon glyphicon-step-forward"></span>
                        </button>
                        <button class="btn btn-warning btn-block btn-lg shrink-sm" type="submit" ng-click="setSkipHistory(true)" ng-show="IsApplicant">
                            Save.  I have no Prior Work History. <span class="glyphicon glyphicon-forward"></span>
                        </button>
                    </div>
                </div>
            </div>

            <input type="hidden" name="SkipHistory" ng-value="SkipHistory" />
            <input type="hidden" name="UserID" ng-value="user.UserID" />
            <input type="hidden" name="EducatorID" ng-value="educator.EducatorID" />
            <input type="hidden" name="OrganizationID" ng-value="organization.OrganizationID" />
            <input type="hidden" name="QueryStringEducatorID" ng-value="EducatorID" />
            <input type="hidden" name="QueryStringOrganizationID" ng-value="OrganizationID" />
            <input type="hidden" name="IsApplicant" ng-value="IsApplicant" />
        </form>
        <div ng-include="'common/footer.html'"></div>
    </div>
</body>
</html>